@charset "utf-8";
.el-header {
    height: 50px !important;
    padding: 0 10px;
    background-color: #46a3e4;
    .headertop {
        li {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #ffffff;
            &:last-child {
                float: right;
                min-width: 150px;
                .setting-header {
                    font-size: 16px;
                    color: #ffffff;
                    margin-left: 15px;
                }
            }
        }
    }
}