@charset "utf-8";
.el-header {
  height: 50px !important;
  padding: 0 10px;
  background-color: #46a3e4;
}
.el-header .headertop li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #ffffff;
  width: 19%;
}
.el-header .headertop li:last-child {
  width: 20%;
  float: right;
  min-width: 150px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
}
.el-header .headertop li:last-child .setting-header {
  font-size: 16px;
  color: #ffffff;
  margin-left: 15px;
}
.el-header .headertop .header-logo {
  width: 221px;
  height: 40px;
  margin-bottom: 5px;
  background-image: url('../images/login/logo.png');
  background-size: 221px 40px;
}
.el-header .headertop .header-mid {
  width: 61%;
  min-width: 777px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.el-header .headertop .header-mid .active {
  border: 1px solid #ffffff;
  border-radius: 25px;
}
.el-header .headertop .header-mid span {
  border: 1px solid #46a3e4;
  width: 136px;
  padding: 5px 8px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
}
.el-header .hide-none-header {
  padding: 10px 15px;
  margin: 0 auto;
  min-width: 777px;
  max-width: 46%;
  background-color: #46a3e4;
  position: absolute;
  left: 20%;
  top: 50px;
}
.el-header .hide-none-header .active {
  border: 1px solid #ffffff;
  border-radius: 25px;
}
.el-header .hide-none-header span {
  width: 136px;
  padding: 5px 8px;
  border: 1px solid #46a3e4;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 3px 0;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}
.el-dropdown-menu__item {
  min-width: 80px;
}
