@charset "utf-8";
.el-header {
    height: 50px !important;
    padding: 0 10px;
    background-color: #46a3e4;
    .headertop {
        li {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #ffffff;
            width: 19%;
            &:last-child {
                width: 20%;
                float: right;
                min-width: 150px;
                padding-right: 20px;
                box-sizing: border-box;
                text-align: right;
                .setting-header {
                    font-size: 16px;
                    color: #ffffff;
                    margin-left: 15px;
                }
            }
        }
        .header-logo {
            width: 221px;
            height: 40px;
            margin-bottom: 5px;
            background-size: 221px 40px;
        }
        .header-mid {
            width: 61%;
            min-width: 777px;
            text-align: center;
            margin: 0 auto;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -30.5%;
            .active {
                border: 1px solid #ffffff;
                border-radius: 25px;
            }
            span {
                border: 1px solid #46a3e4;
                width: 136px;
                padding: 5px 8px;
                display: inline-block;
                height: 22px;
                line-height: 22px;
                cursor: pointer;
            }
        }
    }
    .hide-none-header {
        padding: 10px 15px;
        margin: 0 auto;
        min-width: 777px;
        max-width: 46%;
        background-color: #46a3e4;
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translate(-50%, 0);
        z-index: 2001;
        .active {
            border: 1px solid #ffffff;
            border-radius: 25px;
        }
        span {
            width: 136px;
            padding: 5px 8px;
            border: 1px solid #46a3e4;
            display: inline-block;
            height: 22px;
            line-height: 22px;
            margin: 3px 0;
            cursor: pointer;
            text-align: center;
            color: #ffffff;
        }
    }
}

.el-dropdown-menu__item {
    min-width: 80px;
}
// 人工客服
.customerService {
    position: fixed;
    right: 40px;
    width: 16px;
    border: 1px solid #46a3e4;
    border-radius: 6px;
    padding: 8px 5px;
    color: #46a3e4;
    bottom: 50px;
    cursor: pointer;
}
.service-dialog {
    max-width: 1050px;
    .service-news {
        height: 38vh;
        min-height: 368px;
        overflow: auto;
    }
    .el-dialog__body {
        min-height: 484px;
        height: 50vh;
        overflow: hidden;
    }
    .service-textarea {
        textarea {
            resize: none;
        }
    }
    .service-news-li {
        margin: 20px 0;
        text-align: right;
        padding: 0 50px;
        .service-span {
            padding: 5px 8px;
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #9EEA6A;
            background-color: #9EEA6A;
            color: #333333;
            max-width: 45vh;
            text-align: left;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                right: -8px;
                top: 4px;
                width: 0;
                height: 0;
                border-left: 8px solid #9EEA6A;
                border-bottom:8px solid transparent;
                border-top: 8px solid transparent;
            }
            .service-user {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                position: absolute;
                right: -45px;
                top: 0;
                .el-avatar--small {
                    height: 100%;
                    width: 100%;
                    line-height: 100%;
                }
            }
        }
    }
}
.settab-home-li {
    margin-bottom: 10px;
    .active {
        background-color: #409eff;
        color: #ffffff;
    }
    a {
        display: inline-block;
        padding: 6px 18px;
        border: 1px solid #ddd;
        margin: 0 2px;
        border-radius: 2px;
        font-size: 14px;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
        .home-close {
            position: absolute;
            right: 4px;
            top: 2px;
            color: #ddd;
            cursor: pointer;
        }
        &:hover {
           .active();
        }
    }
    
}
.el-container {
    height: calc(~"(100vh - 50px)");
    background-color: #EBF2FC;
    .el-main {
        -webkit-transition: padding 1s;
        transition: padding 1s;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding-right: 30px;
        #router-main {
            padding: 20px !important;
            width: 100%;
            min-height: calc(~"(100vh - 128px)");
            box-sizing: border-box;
            background-color: #ffffff;
            .box-shadow();
        }
    }
}